* {margin-top:0; padding:0;}
 
 nav {
 	margin:auto;
 	text-align: center;
 	width: 100%;
 	font-family: arial;
 } 

 nav ul {
 	background:#37988e;
 	padding: 0 0px;
 	list-style: none;
 	position: relative;
 	display: inline-table;
 	width: 100%;
 }

 nav ul li a{
 	float: left;
 	display: block;
	padding: 25px;
	color: #fff;
	text-decoration: none;
 }

nav ul li b{
	float: right;
	display: block;
	padding: 25px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	
}

nav ul li:hover a{
	background: #d68d9a;
	color: #f2f2f2;
 }

nav ul li:hover b{
	background: #d68d9a;
 	display: block;
 }


nav ul li:hover ul {
	display: block;
}

nav ul ul {
	display: none;
	list-style: none;
	position: absolute;
	background-color: #37988e;
	left: 80%;
	right: 20%;
	top: 90%;
	width: 5%;
}

nav ul ul li b{
	float: none;
	display: block;
	padding-left: 30px;
	text-align: left;
	width: 160px;
}

nav ul ul li b:hover {
	background-color: #d68d9a;
	color: #37988e;
}



form {
	display: inline-block;
	margin-top: 2%;
	margin-bottom: 2%;
}


.search {
	position: relative;
	width: 70%;
	height: 100%;
    padding:20%;
    background:rgba(50, 50, 50, 0.2);
    border:50% solid #dbdbdb;
}

.button {
    position: absolute;
	width: 15%;
	height: 40%;
    padding:6px 15px;
    left:-8px;
    border:2px solid #53bd84;
    background-color:#53bd84;
    color:#fafafa;
}

.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}